{pre_hooks, [
    {compile, "make -C c_src"}]}.

%% Port compilation environment variables. See rebar_port_compiler.erl for
%% more info. Default is `[]'
{port_env, [
    {"CXXFLAGS", "$CXXFLAGS -std=c++11 -I_build/include $(pkg-config --cflags \"libsodium >= 0.4\")"},
    {"LDFLAGS", "$LDFLAGS -L_build/lib -lmacaroons $(pkg-config --libs \"libsodium >= 0.4\")"}
]}.

%% port_specs
%% List of filenames or wildcards to be compiled. May also contain a tuple
%% consisting of a regular expression to be applied against the system
%% architecture as a filter.
{port_specs, [{"priv/libmacaroons_nif.so", ["c_src/*.cpp"]}]}.
